// Social
//
// Markup: social.html
//
// Styleguide components.social


.social {
  width: 60%;
  float: right;
  text-align: right;

  @include breakpoint(400px) {
    width: 135px;
  }
}

.social__svg,
%social__svg {
  padding-left: .2rem;

  path {
    fill: #cccccc;
  }
}

.social__svg--fb,
%social__svg--fb {
  @extend %social__svg;
  &:hover {
    path {
      fill: #3b5998;
    }
  }
}

.social__svg--twitter,
%social__svg--twitter {
  @extend %social__svg;
  &:hover {
    path {
      fill: #4099FF;
    }
  }
}

.social__svg--pinterest,
%social__svg--pinterest {
  @extend %social__svg;
  &:hover {
    path {
      fill: #C92228;
    }
  }
}

.social__svg--youtube {
  @extend %social__svg;
  &:hover {
    path {
      fill: #dd4b39;
    }
  }
}

