// Layout Two Column
//
// Markup: layout-two-column.html
//
// Styleguide layouts.layout-two-column

$bp-2-column-large: 1024px;

.layout-two-column,
%layout-two-column
{
  @extend %spacer__bottom;
  width: 100%;

  @include breakpoint($bp-medium) {
    width: 50%;
    float: left;
  }
}

.layout-two-column__left,
%layout-two-column__left {
  padding-top: 1rem;
  max-width: 740px;
  margin: auto;

  @include breakpoint($bp-2-column-large) {
    float: left;
    width: 100%;
    padding-right: 100px;
  }
}

.layout-two-column__right,
%layout-two-column__right {
  width: 100%;
  @include breakpoint($bp-2-column-large){
    display: block;
    float: right;
    width: 302px;
    margin-left: -302px;
  }
}
