// Bordered
//
// Markup: bordered.html
//
// Styleguide components.bordered

.bordered--vertical,
%bordered--vertical {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.bordered--bottom,
%bordered--vertical {
  border-bottom: 1px solid #ccc;
}

.bordered,
%bordered {
  border: 2px solid #cccccc;
}