// Layout Narrow
//
// Markup: layout-narrow.html
//
// Styleguide layouts.layout-narrow

.layout-narrow,
%layout-narrow {
  @extend %inset;
  @extend %clearfix;
  position: relative;
  max-width: 1024px;
  margin: auto;
  padding-bottom: 1rem;
}
