<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,700' rel='stylesheet' type='text/css'>


{{> main-nav }}

<div class="layout-narrow spacer__top">
    <div class="layout-two-column__right" >
        <div class="column-ad">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5486819781647387"
                 data-ad-slot="7237247938"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="layout-two-column__left">

        {{> listing-item title="title 1" }}
        {{> listing-item title="title 2" }}
        {{> listing-item title="title 3" }}
        {{> listing-item title="title 4" }}
        {{> listing-item title="title 5" }}
    </div>
</div>