// Main Nav
//
// Markup: main-nav.html
//
// Styleguide components.main-nav

@import 'components/list-inline/list-inline';
@import 'components/social/social';

.main-nav,
%main-nav {
  @extend %clearfix;
  @extend %palette-1;
  @extend %spacer__small;
}

.main-nav__list,
%main-nav__list {
  @extend %list-unstyled;
  @extend %link-no-underline__wrapper;
  @extend %font--small;
  line-height: 1.5rem !important;

  @include breakpoint($bp-large) {

    @include list-inline;
    margin: 0;
    float: right;
  }
}


.main-nav__icon,
%main-nav__icon {
  float: right;
  cursor: pointer;
  line-height: 0;

  @include breakpoint($bp-large) {
    display: none;
  }

  .main-nav__active & path {
    fill: #ffc0cb;
  }
}

.nav__search {
  float: right;
  margin-right: .2rem;

  @include breakpoint($bp-large) {
    margin-right: .5rem;
    padding-right: .5rem;
    border-right: 1px solid #cccccc;
  }
}

// State for toggling nav


.main-nav__list {
  display: none;

  li:nth-child(4) {
    @include breakpoint(max-width $bp-large){
      width: 50%;
      float: left;
    }
  }

  .main-nav__active & {
    display: block;
  }

  @include breakpoint($bp-large) {
    display: block;
  }
}
