<div class="article__meta">
    <img class="circle-image--small" alt="Lauren Vegan" src="http://live-pledge-vegan.pantheon.io/sites/default/files/pictures/picture-581-1426374947.jpg">
    <div class="inset">
        <div>Lauren Vegan</div>
        <div class="font--small">02 April, 2015</div>
    </div>
</div>

<image-style class="article__image" image-src="http://live-pledge-vegan.pantheon.io/sites/default/files/field/image/Vegangraphic.jpg" image-style="article_image_full_node" alt="Hello, I'm Vegan"><!-- ngIf: imageSrc -->
    <img src="http://live-pledge-vegan.pantheon.io/sites/default/files/styles/article_image_full_node/public/field/image/vegan-website.jpg" alt="Hello, I'm Vegan">
</image-style>



